on:
  push:
  pull_request:
  schedule:
    - cron: "0 2 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
          key: ${{ runner.os }}-pio
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Build Generic8266(ESP-01)
        run: |
          pio run -e ESP8266-ESP01
          mv .pio/build/ESP8266-ESP01/firmware.bin mitsubishi2MQTT_ESP8266-ESP01.bin

      - name: Build WEMOS_D1_Mini
        run: |
          pio run -e WEMOS_D1_Mini
          mv .pio/build/WEMOS_D1_Mini/firmware.bin mitsubishi2MQTT_WEMOS_D1_Mini.bin

      - name: Build ESP32DEV
        run: |
          pio run -e ESP32DEV
          mv .pio/build/ESP32DEV/firmware.bin mitsubishi2MQTT_ESP32DEV.bin

      - name: Upload esp8266 artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mitsubishi2MQTT_ESP8266-ESP01.bin
          path: mitsubishi2MQTT_ESP8266-ESP01.bin

      - name: Upload esp32dev artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mitsubishi2MQTT_ESP32DEV.bin
          path: mitsubishi2MQTT_ESP32DEV.bin

      - name: Upload WEMOS_D1_Mini artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mitsubishi2MQTT_WEMOS_D1_Mini.bin
          path: mitsubishi2MQTT_WEMOS_D1_Mini.bin
